
<h2>Chat del servidor</h2>

<form onsubmit="return addMessage(this)">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="text" name="mensaje" id="mensaje" placeholder="Ingrese su mensaje">
        <button type="submit">Enviar</button>
</form>