
<h2>Agregue un producto</h2>

<form onsubmit="return addProducts(this)">
        <input type="text" name="title" placeholder="title" id="title">
        <input type="number" name="price" placeholder="price"  id="price">
        <input type="text" name="thumbnail" placeholder="thumbnail" id="thumbnail">
        <button type="submit">Enviar</button>
</form>

<a href="/productos" >Ver todos los productos</a>
