<h2>Agregue un producto</h2>
<form method="POST" action="http://localhost:8080/productos">
    <input type="text" name="title" placeholder="title">
    <input type="number" name="price" placeholder="price">
    <input type="text" name="thumbnail" placeholder="thumbnail">
    <button type="submit">Enviar</button>
</form>

<a href="/productos" >Ver todos los productos</a>